<p id="notice"><%= notice %></p>

<h3>
  <%= @view_model.episode_name %><br>
  <small><%= @view_model.series_name %></small>
</h3>

<div class="canvas" style="font: 8px/4px monospace">
  <%= @view_model.paint_3peak_mountain %>
</div>


<% @view_model.critter_count.times do |index| %>
  <%= image_tag "squirrel.jpg",
    class: 'critter-background',
    width: 100,
    style: "
      position: fixed;
      top:  #{150 * (index + 1)}px;
      left: -100px;
    "
  %>
<% end %>

<div class="forest">
  <% @view_model.happy_little_tree_count.times do |index| %>
    <% if @view_model.draw_cabin? && index == (@view_model.happy_little_tree_count / 3 - 1) %>
      🏡
    <% end %>
    🌲
  <% end %>
</div>

<%= link_to 'Edit', @view_model.edit_path %> |
<%= link_to 'Back', @view_model.back_path %>
